/* 댓글 collepse div */
.comment_area {
	background-color: #fff;
	border-top: 1px solid #DDDDDD !important;
}

/* 댓글 헤드 div : 이미지 + TEXT + 버튼 */
.comment_head_div{
	width: 95%;
	height: 70px;
	margin: 0 auto;
	
}

/* 프로필 이미지 div */
.image_div{
	display: inline-block;
	vertical-align: top;
}

/* 댓글창 헤드 프로필 이미지 */
.head_profile_img {
	width: 50px;
	height: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 15px;
	border: 1px solid #fff !important;
}

/* 텍스트 + 버튼 */ 
.textarea_div {
	display: inline-block;
	width: 90%;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* 댓글 텍스트 */
.comment_TXT {
	display: inline-block;
	height: 35px;
	font-size: 15px;
	margin-right: 10px;
	vertical-align: middle;
	text-align: left !important;
}

/* 이미지 삽입 */
.insert_img_btn {
	display: inline-block;
	margin-top: -30px;
	margin-left: 10px;
	width: 7%;
	font-size: 20px !important;
	padding: 5px 0px 0px 0px !important;
}

/* 댓글 작성 버튼 */
.ok_btn{
	display: inline-block;
	margin-top: -30px;
	margin-left: 5px;
	width: 7%;
	font-size: 20px !important;
	padding: 5px 0px 0px 0px !important;
}

/* 에디터 */
.note-editor{
	display: inline-block !important;
	margin-bottom: 0px !important;
}

.note-editable{
	text-align:left;
}

/* 댓글 폼 */
.comment_div{
	width: 95%;
	margin: 0 auto;
}

/* 댓글 정보 전체*/
.comment_info_div {
	height: 50px;
}

/* 댓글 프로필 이미지 */
.comment_profile_img{
	width: 50px;
	height: 50px;
	margin: 0px 15px 0px 0px !important;
	border: 1px solid #fff !important;
	
}

/* 회원 정보 출력 div */
.info_div{
	width: 90%;
	height: 50px;
	display: inline-block;
}


.info_div div{
	display: inline-block;
	vertical-align: middle;
	line-height: 50px;
}

/* 유저 이름 */
.user_name {
	vertical-align: middle;
	font-size: 24px;
	margin-right: 10px
}

/* 작성일 */
.write_date {
	vertical-align: middle !important;
	font-size: 15px;
}

/* 메뉴버튼 */
.user_menu{
	float: right;
	text-align: right !important;
	vertical-align: middle !important;
	font-size: 25px;
}

.comment_contents{
	background-color: #F3F6F8;
}

