/*modal Css*/

.modal-dialog.modal-fullsize {
	width: 100%;
	height: 100%;
}

/* absolute */
.jk-modalsasun {
	position: fixed;
	top: 0;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 500;
}

.jk-modal {
	position: fixed;
	display: table;
	top: 100px;
	left: 50%;
	margin-left: -300px;
	width: 100%;
	max-width: 600px;
	min-height: 500px;
	background: #fff;
	border-radius: 20px;
/*    overflow:hidden; */
}

.jk-row {
	display: table-row;
}

.jk-modal-head {
	width: 100%;
	display: table-cell;
	height: 50px;
	vertical-align: middle;
	text-align: center;
	/* 	위, 오른쪽, 아래, 왼 */
	padding: 30px 0 30px 0;
	/* 	padding-top:50px; */
}

.jk-modal-head h1 {
	font-weight: 800;
}

.jk-modal-body {
	width: 100%;
	display: block;
	vertical-align: middle;
	height: auto;
	overflow: auto;
	min-height: 200px;
	max-height: 500px;
}

.jk-modal-footer {
	width: 100%;
	height: 100px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.jk-modal-footer button {
	margin: 0 10px;
	padding: 10px 30px 10px 30px;
	background: #000;
	opacity: 0.9;
	color: #fff;
	border-radius: 5px;
}

.jk-btn {
	margin: 0 10px;
	padding: 10px 30px 10px 30px;
	background: #000;
	opacity: 0.9;
	color: #fff;
	border-radius: 5px;
}

.jk-btn-long {
	margin: 0 10px;
	padding: 6px 169px 6px 169px;
	background: #000;
	opacity: 0.9;
	color: #fff;
	border-radius: 5px;
}

.jk-btn-long2 {
	margin: 20px 10px;
	padding: 10px 139px 10px 139px;
	background: #000;
	opacity: 0.9;
	color: #fff;
	border-radius: 5px;
}

.jk-btn-long3 {
	margin: 10px 10px;
	padding: 10px 144px 10px 144px;
	background: #000;
	opacity: 0.9;
	color: #fff;
	border-radius: 5px;
}

.jk-join-btn {
	background: #323ad3;
}

.jk-modal-footer button:hover {
	background: #8546B3;
	/* opacity:0.4; */
}

.jk-modal-body button:hover {
	background: #8546B3;
	/* opacity:0.4; */
}
/* modal 끝 */

/* follow table */
.follow_table {
	width: 100%;
	height: 100%;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 20px;
}

/* activity img */
.modal-img {
	width: 80px !important;
	height: 80px !important;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
	border: 1px solid #A2A9AC !important;
}

.img_td {
	width: 230px !important;
}


