.page_area_select_head{
	
}

.page_area_title {
	margin: 0 auto;
	width: 90%;
	text-align: left;
	font-size: 30px;
	font-weight: blod;
	margin-bottom: 10px;
}

.writePageBtn {
	margin: 0 auto;
	width: 90%;
	background-color: #fff;
	color: #000;
	font-size: 20px;
	font-weight: blod;
}

.writePageBtn:hover{
	background-color: #000 !important;
	color: #fff !important;
}

/* 검색창 div */
.search_div{
	width: 100%;
	margin: 0 auto;
	font-size: 26px;
}

/* 검색창 text */
.search_TXT{
	display: inline-block;
	width: 80%;
	height: 40px;
	margin: 0 auto;
	font-size: 20px;
	text-align: center;
}

/* 검색창 text */
.search_btn_div{
	padding: 2px;
	display: inline-block;
	width: 10%;
	height: 40px;
}

.search_btn{
	vertical-align: middle;
	font-size: 30px;
}