
/* 메뉴탭 페이지 네이션 */
.tab-menu {
     background-color: blueviolet;
}

.tab-menu a {
    color: white;
    padding-top: 3px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-bottom: 3px !important;
}

.tab-menu a:hover {
    background-color: white;
    color: blueviolet;
}

/* 매뉴텝 div */
.tab-content {
    background-color: white !important;
}

/* 버튼 */ 
.menu_btn{
	width: 100px !important;
	height: 100px !important;
	margin: 10px 3px 10px 3px !important;
}

/* 버튼 아이콘 */
.btn_icon{
	font-size: 35px;
	width: 100% !important;
	margin-bottom: 5px;
}

/* 버튼 이름 */
.btn_name{
	width: 100% !important;
}


/* 소스코드 입력 폼 modal */
/*modal Css*/
.modal-dialog.modal-fullsize {
	width: 100%;
	height: 100%;
}

.jk-modalsasun {
	position: absolute;
	top: 0;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 500;
}

.jk-modal {
	position: absolute;
	display: table;
	top: 100px;
	left: 50%;
	margin-left: -300px;
	width: 100%;
	max-width: 600px;
	min-height: 500px;
	background: #fff;
	border-radius: 20px;
/*    overflow:hidden; */
}

.jk-row {
	display: table-row;
}

.jk-modal-head {
	width: 100%;
	display: table-cell;
	height: 50px;
	vertical-align: middle;
	text-align: center;
	/* 	위, 오른쪽, 아래, 왼 */
	padding: 50px 0 0 0;
	/* 	padding-top:50px; */
}

.jk-modal-head h1 {
	font-weight: 800;
}

.jk-modal-body {
	width: 100%;
	display: block;
	vertical-align: middle;
	width: 100%;
	height: 500px;
	overflow: auto;
}

.jk-modal-footer {
	width: 100%;
	height: 100px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.jk-modal-footer button {
	margin: 0 10px;
	padding: 10px 30px 10px 30px;
	background: #000;
	opacity: 0.9;
	color: #fff;
	border-radius: 5px;
}

.jk-btn {
	margin: 0 10px;
	padding: 10px 30px 10px 30px;
	background: #000;
	opacity: 0.9;
	color: #fff;
	border-radius: 5px;
}

.jk-btn-long {
	margin: 0 10px;
	padding: 6px 169px 6px 169px;
	background: #000;
	opacity: 0.9;
	color: #fff;
	border-radius: 5px;
}

.jk-btn-long2 {
	margin: 20px 10px;
	padding: 10px 139px 10px 139px;
	background: #000;
	opacity: 0.9;
	color: #fff;
	border-radius: 5px;
}

.jk-btn-long3 {
	margin: 10px 10px;
	padding: 10px 144px 10px 144px;
	background: #000;
	opacity: 0.9;
	color: #fff;
	border-radius: 5px;
}

.jk-join-btn {
	background: #323ad3;
}

.jk-modal-footer button:hover {
	background: #8546B3;
	/* opacity:0.4; */
}

.jk-modal-body button:hover {
	background: #8546B3;
	/* opacity:0.4; */
}

/* 소소코드 모달창 textarea */
#code_editor {
	display: block;
	width: 100%;
	height: 100%;
}


/* 팝오버 부모 */
.popover{
	width: 500px !important;
	max-width:700px !important;
	height: auto;
}

/* 팝오버 내용 */
.popover-content{
	width: 100% !important;
	height: auto;
	/* min-height: 150px; */
	
}

/* 컬러 리스트 버튼 */
.color{
	width: 25px;
    height: 25px;
    border: 1px solid #fff;
    border-width: 1px 0 0 1px;
}

.color:hover {
	border: 4px solid red !important;
}

/* 비디오 iframe css */

/* iframe 조작핸들 */
.handle {
  width: 558px;
  background: #ccc;
  border: 1px solid #000;
  border-radius: 4px;
  height: 23px;
  margin-bottom: -3px;
}

/* iframe 전체 div */
.frameOverlay {
  height: 100%;
  width: 100%;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}




