<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="3 seconds">
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
	
		<layout>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</layout>
	</appender>

	<logger name="kr.or.ddit" level="debug"/>
	
	<!-- Digester 로그 보기싫으면 error로 설정 -->
	<logger name="org.apache.commons.digester.Digester" level="error"></logger>
	<!-- 추가 (pkh) -->
	<logger name="org.springframework.jdbc.datasource.DataSourceTransactionManager" level="error"></logger>
	<logger name="org.mybatis.spring.SqlSessionUtils" level="error"></logger>
	<logger name="org.springframework.web.servlet.view.tiles3.TilesView" level="error"></logger>
	
    
	<root level="DEBUG">
   		<appender-ref ref="console" />
  	</root>
  	 
</configuration>