.span-text{
	font-size: 20px;
}

.col-post{
	background: #ffffff;
	margin: 10px;
	border: 1px solid #c7c8c9;
	border-radius: 4px;
	border-spacing: normal;
	margin-left: 0px;
	margin-right: 0px; 
}

.col-post-body{
	border-bottom : 1px solid #e5e6e8;
	padding : 15px;
	padding-bottom : 35px;
	width: 553.02
}

.col-post-controll{
/* 	text-align: right; */
/* 	position: absolute; */
}

.col-post-footer{
/* 	padding : 15px; */
}

.col-post-social{
	background-color : #f3f6f8;
	border-top: 1px solid #e5e6e8;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	padding: 5px;
	height: 45px;
}

.writer-info{
	border-style: 1px solid;
	border-color: #e5e5e5;
/* 	margin: 200px; */
}

/* .writer-info a{ */
/* 	float: left; */
/* } */
	
/* .writer-info button{ */
/* 	float: right; */
/* }	 */
.btn-write_modal{
	background:#ffffff;
	background-size: auto;
	padding:18px;
	vertical-align: middle;
	text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    border-style: solid;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    width: 326px;
	outline: 0px;
    
}

.btn-write_modal:hover{
	text-decoration: underline;
}
.btn-write_modal:hover > a{
	color: #3234c1;
}

.btn_postControll{
	background:#ffffff;
	background-size: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    border-style: solid;
    border-color: #ffffff; 
    width: 30px;
    height: 20px;
   	border : 0;
	outline: 0;
}

.btn-social{
	background: #f3f6f8;
	background-size: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    border-style: solid;
    border-color: #f3f6f8; 
	margin-bottom: 25px;
    width: 30px;
    height: 20px;
   	border : 0;
	outline: 0;
}

.btn-social:hover{
	background-color: #e8e8f7;
}

.btn-upload{
	background:#ffffff;
	background-size: auto;
	font-size:17px;
	padding:18px;
	text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    border-style: solid;
    border-top-width: 1px;
    border-left-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    width: 76px;
    display: inline-block; 
	outline: 0;
}

.btn-upload:hover{
	background-color: #e8e8f7;
}

.modal-dialog{
	width: 655px;
}

.modal-header,.modal-body,.modal-footer{
	width: 650px;
}

.btn-modal-upload{
	background:#ffffff;
	background-size: auto;
	letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
	border-style: none;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-radius: 20px;
}

.btn-modal-upload:hover{
	background-color: #e8e8f7;
}

.btn-save{
	background:#3c7ee8;
	background-size: auto;
	font-size:17px;
	text-rendering: auto;
	letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
	border-style: none;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-radius: 8px;
	margin-left: 443px;
}

.btn-save:hover{
	background-color: #0073b1;
}

.modal-foot{
	border-top: 1px solid #e5e5e5;
	height: 60px;
	padding: 15px;
}


.modal-head{
	background: #0073b1;
	background-size: 655px; 
	height: 45px;
	padding: 15px;
	border-bottom: 1px solid #e5e5e5;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px; 
}

.write_area{
	outline-color: white;
	padding: 0px;
}

.write_area:FOCUS{
	outline-color: white;
}

.modal-dialog.modal-fullsize {
	width: 100%;
  	height: 100%;
}

.dropdown{
	width: 150px;
}

.dropdown:AFTER{
	position: absolute;
	width: 150px;
	z-index: 1;
	top: -10px;
	left: 190px;
	border-color: transparent;
	position: absolute;
	content: '';
}

.btn_controll-list{
	background:#ffffff;
	size : 140px;
	border : 0px solid #ffffff;
	padding: 10px;
	border : 0;
	outline: 0;
}
