.btn-write_modal{
	background:#ffffff;
	background-size: auto;
	font-size:17px;
	padding:24px;
/* 	vertical-align: middle; */
	text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    border-style: solid;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    width: 325px;
/*     display: inline-block;  */
}

.btn-upload{
	background:#ffffff;
	background-size: auto;
	font-size:17px;
	padding:24px;
	text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    border-style: solid;
    border-top-width: 1px;
    border-left-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    width: 75px;
/*     display: inline-block;  */
}