<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias alias="memberVo" type="kr.or.ddit.member.model.MemberVo"/>
		<typeAlias alias="usersVo" type="kr.or.ddit.users.model.UsersVo"/>
		<typeAlias alias="corporationVo" type="kr.or.ddit.corporation.model.CorporationVo"/>
		<typeAlias alias="postVo" type="kr.or.ddit.post.model.PostVo"/>
		<typeAlias alias="paginationVo" type="kr.or.ddit.util.pagination.PaginationVo"/>
		<typeAlias alias="goodVo" type="kr.or.ddit.good.model.GoodVo"/>
		<typeAlias alias="hashtagVo" type="kr.or.ddit.hashtag.model.HashtagVo"/>
		<typeAlias alias="taglistVo" type="kr.or.ddit.hashtag_list.model.Hashtag_listVo"/>
		<typeAlias alias="post_commentVo" type="kr.or.ddit.post_comment.model.Post_commentVo"/>
		<typeAlias alias="followVo" type="kr.or.ddit.follow.model.FollowVo"/>
		<typeAlias alias="search_logVo" type="kr.or.ddit.search_log.model.Search_logVo"/>
		<typeAlias alias="recruitVo" type="kr.or.ddit.recruit.model.RecruitVo"/>
		<typeAlias alias="personalVo" type="kr.or.ddit.personal_connection.model.Personal_connectionVo"/>
		<typeAlias alias="career_infoVo" type="kr.or.ddit.career_info.model.Career_infoVo"/>
		<typeAlias alias="save_recruitVo" type="kr.or.ddit.save_recruit.model.Save_recruitVo"/>
		<typeAlias alias="education_infoVo" type="kr.or.ddit.education_info.model.Education_infoVo"/>
		<typeAlias alias="job_positionVo" type="kr.or.ddit.util.model.Job_positionVo"/>
		<typeAlias alias="interestVo" type="kr.or.ddit.interest.model.InterestVo"/>
		<typeAlias alias="savepostVo" type="kr.or.ddit.save_post.model.Save_postVo"/>
		<typeAlias alias="filesVo" type="kr.or.ddit.files.model.FilesVo"/>
		<typeAlias alias="thesis_listVo" type="kr.or.ddit.thesis_list.model.Thesis_listVo"/>
		<typeAlias alias="patent_listVo" type="kr.or.ddit.patent_list.model.Patent_listVo"/>
		<typeAlias alias="project_careerVo" type="kr.or.ddit.project_career.model.Project_careerVo"/>
		<typeAlias alias="award_historyVo" type="kr.or.ddit.award_history.model.Award_historyVo"/>
		<typeAlias alias="languageVo" type="kr.or.ddit.language.model.LanguageVo"/>
		<typeAlias alias="recommendationVo" type="kr.or.ddit.recommendation.model.RecommendationVo"/>
		<typeAlias alias="possesion_skillsVo" type="kr.or.ddit.possesion_skills.model.Possesion_skillsVo"/>
		<typeAlias alias="hideVo" type="kr.or.ddit.hide_post.model.Hide_postVo"/>
		<typeAlias alias="reportVo" type="kr.or.ddit.report.model.ReportVo"/>
		<typeAlias alias="blogVo" type="kr.or.ddit.blog.model.BlogVo"/>
		<typeAlias alias="portfolioVo" type="kr.or.ddit.portfolio.model.PortfolioVo"/>
		<typeAlias alias="alarmVo" type="kr.or.ddit.alarm.model.AlarmVo"/>
		<typeAlias alias="sectionVo" type="kr.or.ddit.section.model.SectionVo"/>
		<typeAlias alias="chatroomVo" type="kr.or.ddit.chatroom.model.ChatroomVo"/>
		<typeAlias alias="chat_memberVo" type="kr.or.ddit.chat_member.model.Chat_memberVo"/>
		<typeAlias alias="chat_contentsVo" type="kr.or.ddit.chat_contents.model.Chat_contentsVo"/>
		<typeAlias alias="itemVo" type="kr.or.ddit.item.model.ItemVo"/>
		<typeAlias alias="pageVo" type="kr.or.ddit.page.model.PageVo"/>
		<typeAlias alias="page_sourceVo" type="kr.or.ddit.page.model.Page_sourceVo"/>
		<typeAlias alias="page_sourceVo" type="kr.or.ddit.page.model.Page_videoVo"/>
	</typeAliases> 
  
	<mappers>
		<mapper resource="kr/or/ddit/config/db/mapper/member.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/users.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/corporation.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/post.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/good.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/hashtag.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/comment.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/follow.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/search_log.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/recruit.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/personal_connection.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/career_info.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/save_recruit.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/education_info.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/job_position.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/interest.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/save_post.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/files.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/thesis_list.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/patent_list.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/project_career.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/award_history.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/language.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/recommendation.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/possesion_skills.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/hide_post.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/reportcontent.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/blog.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/portfolio.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/alarm.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/section.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/chat_contents.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/chat_member.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/chatroom.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/item.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/page.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/page_source.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/page_video.xml"/>
	</mappers>
</configuration>

