<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


	<typeAliases>
		<typeAlias alias="memberVO" type="kr.or.ddit.member.model.MemberVo"/>
		<typeAlias alias="usersVO" type="kr.or.ddit.users.model.UsersVo"/>
		<typeAlias alias="corporationVO" type="kr.or.ddit.corporation.model.CorporationVo"/>
		<typeAlias alias="postVO" type="kr.or.ddit.post.model.PostVo"/>
	</typeAliases>
	
  
	
	<mappers>
		<mapper resource="kr/or/ddit/config/db/mapper/member.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/users.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/corporation.xml"/>
		<mapper resource="kr/or/ddit/config/db/mapper/post.xml"/>
	</mappers>
</configuration>

