#pc_leftmenu{
	margin-left: 15px; 
	margin-right: -60px;
}

#pc_leftmenuBox{
	display:table-cell;
	width:217px;
	height: 90px; 
	vertical-align: middle;
}

#pc_leftmenuBox>a {
	display: flex;
	align-items: center;
	justify-content: center;
	width:217px;
	height: 40px;
	display:inline-block;
	font-size: 17px; 
	padding-top: 8px; 
	padding-left: 50px;
	
}

#pc_leftmenuBox>a>span{
	font-size: 20px; 
}

#pc_leftmenuBox>a>span>i{
	width: 30px;
}

#pc_leftmenuBorder{
	border-top: 2px solid #CDCFD2;
}

#pc_resiceConnection{
	display: table-cell;
	width:553px;
	height: 53px;
	vertical-align: middle;
	padding: 5px 20px 5px 20px;
	font-size: 20px;
}

#pc_resiceConnection>a{
	font-size: 17px;
}

#pc_find{
	width:553px;
	height: 357px; 
	padding: 10px 20px 10px 20px; 
	font-size: 17px;
	overflow:hidden;
}

#pc_find>label{
	padding-right: 255px;
}

#pc_find>ul>li{
	text-align: center; 
	margin: 0 0 0 0;
	padding: 0 5px 0 0;
	border : 0;
	float: left;
}
#pc_find>ul>li>div{
	display:table-cell; 
	width:167px; 
	height: 287px; 
	vertical-align: middle;
}

