
/* 채용공고 방향키 */
.btn-default{
	border: 0px; 
	font-size: 150%;
}

/* 채용공고 제목 */
.recr_title{
	font-size: 140%;
}

/* 회사채용공고 첫번째 div(label과 버튼) */
.recr{
	margin: 10px;
}

/* 채용공고반복문 */
#all_recr{
	float:left;
	margin-left: 10px; 
	width: 300px; 
	height: 200px; 
}