.profileHomeBox{
	width: 1128px;
	margin-left: 0px;
}

.mainAllBox{
	width: 822px;
}

.introduceBox{
	width: 792px; 
	min-height: 450px;
}

.memberBox{
	margin-top: 33px; 
	float: left;
}

.member{
	font-size: 23px; 
	max-width: 600px; 
	width: 500px;
}

.memberRight{
	font-size: 15px; 
	font-weight: bold;
}

.memberBox>div>span>i{
	width:30px;
}

.memberBox>div>span{
	color: #B3B6B9;
	font-size: 18px; 
}

.simpleInfo{
	font-size: 20px;
	font-weight: 100;
}


.profileHomeBackgroundPicture{
	height: 200px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	box-shadow: 0 1.5px 4px 3px rgba(0,0,0,.15);
}

.profileHomeProfilePicture{
	width:152px;
	height: 152px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: -80px;
	margin-left: 24px; 
	border: 4px solid #E3EEF2; 
	border-radius: 100px;
	box-shadow: 0 1.5px 20px 11px rgba(0,0,0,.15);
}

.profileDropdownBox>ul>li>a{
	font-size: 17px; 
	font-weight: 900;
}

.well{
	width: 310px;
	display: flex; 
	padding: 18px 0 8px 0px;
	justify-content: center; 
	align-items: center;
}

.well>span{
	font-size: 20px;
	height: 20px;
	padding-right: 10px;
	padding-left: 10px;
	margin-top: -15px;
	color: #777a7d;
}
.well>button{
	height: 32px;
	width:32px;
	border-radius: 32px;
	border: 1px solid rgba(0, 0, 0, 0.6);
	padding: 0px;
}
.well>span>i{
	width: 20px;
}

.well>button:hover, .well>button:focus, .well>button:active{
	border: 2px solid black;
}
.dropdownAccordion{
	width: 195px; 
	min-height: 19px; 
	font-size: 15px; 
	color: #777a7d; 
}

.otherDropdown {
	height: 40px; 
	padding-top: 3px; 
	padding-bottom: 3px; 
	padding-left: 15px;
}

.userContentsSkip>p{
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap; 
  width: 743px;
  
  white-space: normal; 
  line-height: 1.2; 
  text-align: left; 
  word-wrap: break-word; 
  display: -webkit-box; 
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;

}

.userContentsShow{
	width: 793px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: -25px;
    color: #0073b1; 
    font-size: 17px;
    
}

.essential:after{
	content: '*';
    color: #0073b1;
    margin-left: 2px;
}

.pictureInsert{
	padding-left: 0px;
	margin-top: -180;
	margin-top: -180px;
	margin-left: 670px;
}

.pictureInsert>label>span{
	font-size: 20px;
	color: #0073B1;
	padding-left: 4px;
}

.pictureInsert>label{
	padding: 0 0 0 0;
	width: 28px;
	height: 28px;
	border-radius: 28px; 
	background-color: white;
	box-shadow: 0 1.5px 4px 3px rgba(0,0,0,.15);
}

.modalRow{
	margin-top: 10px; 
	display: flex;
}

.modalHalfLeft{
	width:335.500px; 
	height: 55px; 
	margin-right: 10px;
}
.modalHalfRight{
	width:335.500px; 
	height: 55px; 
}
.modalHalfLeft>label{
	display: table-cell; 
	vertical-align: middle; 
	width:335.500px; 
	font-size: 15px;
}
.modalHalfRight>label{
	display: table-cell; 
	vertical-align: middle; 
	width:335.500px; 
	font-size: 15px;
}

.modalHalfLeft>input[type=text]{
	width:335.500px; 
	height:30px; 
	padding: 0 10px 0 10px;
}
.modalHalfRight>input[type=text]{
	width:335.500px; 
	height:30px; 
	padding: 0 10px 0 10px;
}
/* .modal-dialog,
.modal-content {
    80% of window height
    height: calc(
}

.modal-body {
    100% = dialog height, 120px = header + footer
    height: calc(100% - 120px);
    overflow-y: scroll;
} */

.searchDropDown{
	 height: 100px;
     overflow-y: scroll;
     top: 75px;
     left: 15px;
     width: 337px;
     min-height: 50px;
}

